.navbar {
    background-color: #343a40; /* Dark background for navbar */
    border-radius: 0 0 10px 10px; /* Rounded bottom corners */
    width: 100%; /* Ensure it spans full width */
}
.navbar-brand {
    font-weight: bold;
    color: #fff !important;
}
.nav-link {
    color: #ccc !important;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.nav-link:hover {
    background-color: #495057;
    color: #fff !important;
}
.login-img {
    width: 100px;  /* or any size you want */
    height: auto;
}
/* CUSTOM TEAL BUTTON */
.btn-teal {
  background-color: #26a69a;
  color: white;
  font-weight: 500;
  border-radius: 8px;
  /* transition: background 0.3s; */
}

.btn-teal:hover {
  background-color: #2bbbad;
}

.btn-teal:disabled {
    background-color: #26a699b6 !important;
    border-color: #26a699b6 !important;
    color: white !important;
    opacity: 0.8;
}
        
.spinner-border {
    display: none;
}

